// Core variables and mixins
@import "source/variables.less";
@import "source/mixins.less";

// Reset
@import "source/normalize.less";
@import "source/print.less";

// Core CSS
@import "source/scaffolding.less";
@import "source/type.less";
@import "source/code.less";
@import "source/grid.less";
@import "source/tables.less";
@import "source/forms.less";
@import "source/buttons.less";

// Components
@import "source/component-animations.less";
@import "source/labels.less";
@import "source/badges.less";
@import "source/media.less";
@import "source/close.less";

// Components w/ JavaScript
@import "source/modals.less";

// Utility classes
@import 'source/fontawesome.less';
@import "source/utilities.less";
@import 'source/components.less';
@import 'source/wp-core.less';
@import 'source/frontpage.less';
@import 'source/comments.less';
@import "source/responsive-utilities.less";
@import 'source/responsive.less';

// general
.ase-content {
    width:100%;
    max-width:@ase-width;
    margin-left:auto;
    margin-right: auto;
}
.aesop-content {
    width:100%;
    max-width:@ase-width;
    margin-left:auto;
    margin-right: auto;
}
.ase-alt-text {
    font-size:@font-size-small;
    font-family: @font-family-sans-serif;
}

.ase-bg-img {
    background-position: center center;
    background-repeat: no-repeat;
}

//header
.ase-site-header {
    background:@body-bg;
    text-align: center;
    padding:1rem 0;
    width:100%;
    position: fixed;
    height:auto;
    top:0;
    left:0;
    right:0;
    z-index: 99;
}

// navigation menu
.ase-nav-menu {
    padding-top:1rem;
    ul {
        list-style: none;
        padding:0;
        margin:0;
    }
    li {
        display: inline-block;
        margin:0 0.5rem;

        a {
            color:@text-color;
            font-size:@font-size-small;

            &:hover {
                color:@link-color;
            }
        }
    }
}


//footer
.ase-site-footer{
    text-align: center;
    .ase-content;

    p {
        color:fadeout(@text-color,25);
        font-size:@font-size-xsmall;
    }

    a {
        color:inherit;

        &:hover {
            color:@link-color;
        }
    }
}