.ase-docs {

    .ase-docs-left,
    .ase-docs-right {
        float:left;
    }
    .ase-docs-left {
        width:25%;
    }
    .ase-docs-right {
        width:75%;
    }
}

.ase-docs-left {
    .ase-docs-left-title {
        margin-top:0;
    }
    .aesop-timeline {

        .scroll-nav{

            &.fixed {
                position: fixed;
                overflow: hidden;
                width:30%;
                top:90px;
            }
        }

        .scroll-nav__list {
            list-style: none;
            padding:0;
            width:100%;
            text-align: left;


            li {
                display: block;
                margin:0;
                position: relative;
                line-height: 1;

                a {
                    font-size:@font-size-xsmall;
                    line-height: @font-size-xsmall;
                    font-family: @font-family-sans-serif;
                    color:inherit;
                    margin:0.35rem 0;
                    padding:0.2rem .85rem;
                    display: block;
                    text-transform: uppercase;

                    &:hover {
                        color:@link-color;
                        text-decoration: none;
                    }
                }

                &.active a {
                    font-weight: bold;
                }
            }
        }
    }
}

.ase-docs-right {
    .aesop-timeline-stop {
        margin:7rem auto 2rem;
    }

    .scroll-nav__section {
        margin-top:5rem;
        padding-bottom:5rem;
        border-bottom:1px solid @baseContrast;
    }
}

.ase-step-list {
    counter-reset: sequence-counter;
    margin:5rem auto;

    li {
        position: relative;
        padding-left:5rem;
        margin:4rem auto;
        .clearfix();

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: counter(sequence-counter);
            counter-increment: sequence-counter;
            border:1px solid @baseContrast;
            border-radius:50%;
            text-align: center;
            display: inline-block;
            height:30px;
            width:30px;
            line-height: 1.6;
            font-size:@font-size-small;
            background:@text-color;
            color:@body-bg;
        }
        p {
            float:left;
            padding-right:2rem;
            width:60%;
            font-size:@font-size-base - 1;
            line-height: @font-size-base + 3;
            font-weight:400;
        }

        img{
            width:40%;
            float: right;
        }
    }
}

.ase-doc-note {
    background:@baseContrast;
    padding:1.6rem 2rem 1.8rem;
    border-radius:3px;
    margin:3rem auto;

    span {
        margin-right:1.2rem;
    }
}

.ase-doc-atts {
    margin:3rem auto;
    dl {
        font-size:@font-size-small;
        font-family: @font-family-sans-serif;
        margin-bottom:1rem;
    }

}










