.ase-docs {

    &.ase-content,
    .ase-content  {
        .ase-white-back;
    }

    .clearfix;

    .ase-docs-left,
    .ase-docs-right {
        float:left;
        padding:3rem;
    }
    .ase-docs-left {
        width:25%;
    }
    .ase-docs-right {
        width:75%;
    }

}

.ase-small-text {

    p {
        font-size: 1.7rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
        padding:2px 4px;

        &:nth-child(even) {
            background:@body-bg;
        }
        &:last-child {
            margin-bottom:3rem;
        }
    }

}

.ase-docs-left {

   border-right:1px solid @baseContrast;

   // the heading title
   h6 {
        margin:0 auto 0.45rem;
   }

   // actual ist
   ul {
        .unstyled;
        margin-bottom:4rem;

        li {
            font-size:@font-size-small - 2;
            line-height:1.8;
            padding-left:1.2rem;

            a {
                color:fadeout(@text-color,15);

                &:hover {
                    color:@link-color;
                }
            }

            &:before {
                font-family:'Dashicons';
                position: relative;
                left:-8px;
                top:2px;
                color:@brand-warning;
                font-size:@font-size-small - 4;
            }
            // image
            &.imagecomponent:before { content: "\f128"; } 
            // character
            &.charactercomponent:before { content: "\f338"; } 
            // qupte
            &.quotecomponent:before { content: "\f122"; } 
            // content
            &.contentcomponent:before { content: "\f207"; } 
            // chapter head
            &.chaptercomponent:before { content: "\f330"; } 
            // parallax
            &.parallaxcomponent:before { content: "\f168"; } 
            // audio
            &.audiocomponent:before { content: "\f127"; } 
            // video
            &.videocomponent:before { content: "\f128"; } 
            // map
            &.mapscomponent:before { content: "\f319"; } 
            // video
            &.timelinestopcomponent:before { content: "\f469"; } 
            // document
            &.documentcomponent:before { content: "\f123"; } 
            // collection
            &.collectioncomponent:before { content: "\f175"; } 
        }
   }

}
.ase-docs-right {

}

.ase-step-list {
    counter-reset: sequence-counter;
    margin:5rem auto;

    li {
        position: relative;
        padding-left:5rem;
        margin:4rem auto;
        .clearfix();

        &.no-img {
            p {
                width:100%;
                float:none;
                padding-right:0;
            }
        }

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: counter(sequence-counter);
            counter-increment: sequence-counter;
            border:1px solid @baseContrast;
            border-radius:50%;
            text-align: center;
            display: inline-block;
            height:30px;
            width:30px;
            line-height: 1.6;
            font-size:@font-size-small;
            .ase-blue-back;
            color:@body-bg;
        }
        p {
            float:left;
            padding-right:2rem;
            width:60%;
            font-size:@font-size-base - 1;
            line-height: @font-size-base + 3;
            font-weight:400;
        }

        img{
            width:40%;
            float: right;
            .ase-img;
        }
    }
}

.ase-doc-note {
    background:@baseContrast;
    padding:1.6rem 2rem 1.8rem;
    border-radius:3px;
    margin:3rem auto;

    span {
        margin-right:1.2rem;
    }
}

.ase-doc-atts {
    margin:3rem auto;
    dl {
        font-size:@font-size-small;
        font-family: @font-family-sans-serif;
        margin-bottom:1rem;
    }

}


.ase-dev-docs-welcome {
    margin-bottom:5rem;

    .ase-dev-doc-block {
        .ase-spiffy-box;
    }
}
.ase .bwp-syntax-block {
    width:100%;
}

