
// end docs 2.0

.ase-docs {

    .ase-docs-left,
    .ase-docs-right {
        float:left;
    }
    .ase-docs-left {
        width:25%;
        background:white;
        .ase-white-texture;
        .ase-spiffy-box;

        .ase-docs-menu {
            list-style: none;
            padding:0.6rem;
            width:100%;
            text-align: left;
            margin:0;
            padding:0;

            li {
                display: block;
                margin:0 0 2rem 0;
                position: relative;
                line-height: 1;

               &.ase-docs-title-elem{
                    margin:0;
                    padding:0.6rem;
                    font-size:2rem;
                    .ase-blue-back;
                    color:white;
                    .ase-speckle;
                    z-index: 1;
                }

                a {
                    font-size:@font-size-small;
                    line-height: @font-size-xsmall;
                    font-family: @font-family-sans-serif;
                    color:inherit;
                    margin:0.35rem 0;
                    padding:0.2rem 0 0.2rem 0.1rem;
                    display: block;
                    text-transform: uppercase;

                    &:hover {
                        color:@link-color;
                        text-decoration: none;
                    }

                }

                &:first-child a {
                    margin-top:0;
                }
                &:last-child a {
                    margin-bottom: 0;
                }

                &.active a {
                    font-weight: bold;
                }
            }
            ul {
                padding:1.4rem 1rem 0;
                margin:0 0 3rem 0;

                li {
                    margin-bottom:0;
                    background:none;

                    &.ase-docs-title-elem a {
                        bakground:none;
                    }
                }

                a {
                    background:none;
                    font-size: @font-size-xsmall;
                }
            }
        }
    }
    .ase-docs-right {
        width:75%;
        padding-left:3%;
    }

}
.ase-product-doc-link {
    display: block;
    width:100%;
    margin-bottom:1.5rem;
    text-align: left;

    i{
        .ase-orange;
    }
}

.ase-dev-docs-welcome {
    margin-top:3rem;
    margin-bottom:8rem;
    padding-bottom:8rem;
    border-bottom:1px solid @baseContrast;

    .col-md-4 {
        &:first-of-type {
            padding-left:0;
        }
        &:last-of-type {
            padding-right:0;
        }
    }

    .ase-dev-doc-block {
        .ase-white-speckle-box;
    }
}

.ase-step-list {
    counter-reset: sequence-counter;
    margin:5rem auto;

    li {
        position: relative;
        padding-left:5rem;
        margin:4rem auto;
        .clearfix();

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: counter(sequence-counter);
            counter-increment: sequence-counter;
            border:1px solid @baseContrast;
            border-radius:50%;
            text-align: center;
            display: inline-block;
            height:30px;
            width:30px;
            line-height: 1.6;
            font-size:@font-size-small;
            .ase-blue-back;
            color:@body-bg;
        }
        p {
            float:left;
            padding-right:2rem;
            width:60%;
            font-size:@font-size-base - 1;
            line-height: @font-size-base + 3;
            font-weight:400;
        }

        img{
            width:40%;
            float: right;
            .ase-img;
        }
    }
}

.ase-doc-note {
    background:@baseContrast;
    padding:1.6rem 2rem 1.8rem;
    border-radius:3px;
    margin:3rem auto;

    span {
        margin-right:1.2rem;
    }
}

.ase-doc-atts {
    margin:3rem auto;
    dl {
        font-size:@font-size-small;
        font-family: @font-family-sans-serif;
        margin-bottom:1rem;
    }

}










