.post-type-archive-download #main-content{
    padding-bottom:0;
}

.ase-library-welcome {
    h2 {
        .ase-red;
        margin-top:0;
    }
    margin-bottom:5rem;
}
.ase-product-loop {
    padding-bottom:6rem;

    .row {
        margin-bottom:3rem;
    }
}
.ase-product-img-link{
    margin-bottom:1rem;
    display: block;

    img {
        width:100%;
    }
}
.ase-product-inner {
    .ase-white-speckle-box;
}
.ase-product-outer {
    .edd_download_purchase_form {
        margin-top:1rem;
    }
}

.edd_purchase_submit_wrapper a{
    display: block;
    width:100%;
}

.ase-product {
    position: relative;

}

.ase-ribbon-wrap {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}

.ribbon-themes,
.ribbon-add-ons {
  font: bold 13px Sans-Serif;
  color: white;
  text-align: center;
  text-shadow: rgba(0,0,0,0.2) 0px 1px 0px;
  .rotate(-45deg);
  position: relative;
  padding: 7px 0;
  left: -29px;
  top: 15px;
  width: 118px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-add-ons {
  .ase-orange-back;
}
.ribbon-themes {
  .ase-blue-back;
}

.ribbon-add-ons:before,
.ribbon-themes:before {
  left: 0;
}

.ribbon-add-ons:before,
.ribbon-themes:after {
  right: 0;
}

// third party themes area
.ase-third-party {
    padding:3rem 0;
    text-align: center;
    background: darken(@body-bg,5);

    img,
    a {
        .transition(all .15s ease-in-out);
    }

    .ase-product-img-link {
        position: relative;
        background: white;

        i {
            position: absolute;
            left:50%;
            top:110px;
            .opacity(0);
            .ase-blue;
        }

        span {
            .opacity(0);
            position: absolute;
            display: block;
            top:120px;
            width:100%;
            font-size: @font-size-small;
            text-transform: uppercase;
            letter-spacing:0.05em;
            .ase-orange;
            font-weight: bold;
            text-shadow:0 1px 1px rgba(0,0,0,0.1);
        }

        &:hover {

            img {
                .opacity(0.2);
            }

            span,
            i {
                .opacity(1);
            }
        }
    }

    h3 {
        margin-bottom: 0;
    }
    p {
        color:fadeout(@text-color,25);
        margin:0 auto 3rem;
    }
    .btn {
        text-align: center;
        display: inline-block;
        margin:1rem auto;
    }
}

.ase-pagination {
    span,a {
        display: inline-block;
        background:white;
        border:1px solid gray;
        color:fadeout(@text-color, 20);
        padding:0.2rem 0.8rem;
        font-size: @font-size-xsmall;
        margin:0 2px;

        &:hover,
        &.current {
            background:fadeout(white,50);
            .ase-blue;
            text-decoration: none;
        }

        &:active {
            background:white;
        }
    }
}