.ase-library-welcome {
    h2 {
        .ase-red;
        margin-top:0;
    }
    margin-bottom:5rem;
}
.ase-product-loop {
    padding-bottom:6rem;
}
.ase-product-img-link{
    margin-bottom:1rem;
    display: block;
}
.ase-product-inner {
    background:white;
    border:1px solid gray;
    text-align: left;
    padding:0;
    .box-shadow(0 2px 3px rgba(0,0,0,0.2));

    .ase-product-title {
        margin:0;
        padding:0.6rem;
        .ase-blue-back;
        font-size:2rem;
        .ase-speckle;

        a {
            color:white;
        }
    }

    p {
        font-size:1.5rem;
        margin:0;
        padding:0.6rem;
    }
}