// resolved/not-resolved status
#edd_bbp_d_support_forum_options {
    // form
    #bbps-topic-status {

        input {
            width:18%;
            display: inline-block;
        }
    }
}

// topic assigning

#bbps-topic-assign {
    width:66%;
    display: inline-block;
}
#bbs-topic-assign-me {
    width:24%;
    display: inline-block;
}
    // dropdown
#bbps_support_options {
    height:auto;
    width:180px;
    display: inline-block;
}

#edd_bbp_d_support_forum_options,
#bbps_support_forum_options {
    margin-bottom:2rem;
    width:100%;

     // label
    label {
        font-weight: bold;
        .clearfix();
        margin-right:1rem;
    }

}
#bbps_support_forum_options,
#bbps_support_forum_ping {
    width:49%;
    display: inline-block;
}
#bbps_support_forum_options {

}
#bbps_support_forum_ping {

}

// support widget
.ase .support-dashboard {
    #mods-grid {
        .mod {
            text-align: center;
        }
        .mod-name {
            font-style: italic;
        }
        .mod-gravatar img{
            display: block;
            margin-left:auto;
            margin-right:auto;
            border-radius:50%;
        }
        .mod-ticket-count {
            font-size: @font-size-small;
        }
    }
    #support-tabs {
        li a{
            font-size: @font-size-small;
        }
    }
    .tab-content {
        ul {
            margin:0;
            padding:0;
            list-style: none;
        }

    }

    .table {
        th {
            background: #0074a2;
            background-image: url(../img/texture-speckle.png);
            border: 0;
            color: #fff;
            font-family: TrendSlabOne,Cambria,"Hoefler Text","Liberation Serif",Times,"Times New Roman",serif;
            height: 32px;
            font-size: 1.5rem;
            padding-left: .6rem;
            border-top:none;
        }
        td {
            border-top:none;
        }
    }
}