.widget {
    .edd-cart {
        margin:0;
        list-style: none;
        padding:1rem;
    }

    .edd-cart-number-of-items {
        padding-top:1rem;
        padding-right:1rem;
        padding-left:1rem;
    }

    .edd_checkout a {
        .btn;
        .btn-red;
        width:100%;
    }
}

.edd-taxonomy-widget {
    .unstyled;
    padding:1rem;
}