//footer
.ase-site-footer {
    .ase-black-back;
    color:white;
    border-top:7px solid white;
    padding:2rem 0;
    .clearfix;
    p {
        font-size: @font-size-xsmall;
        margin:0;
    }
    .ase-copyright {
        float: left;
    }
    .ase-footer-cred {
        position: absolute;
        width:100%;
        text-align: center;
        left:0;
    }
    .ase-footer-links {
        float:right;
        margin:0;
        padding:0;
        top:-6px;
        position: relative;
        .unstyled;
        li {
            display: inline-block;
            line-height: @font-size-small;

            a {
                color:white;
                font-size: @font-size-xsmall;
            }
        }
    }
}