.ase-section {
    padding:8rem 0;
    border-bottom:1px solid @baseContrast;

    &:last-of-type {
        border-bottom:none;
    }

    .aesop-timeline-stop {
        margin-top:0;
    }
}
.ase-welcome {
    text-align: center;
}

.ase-features {
    .ase-features-gallery {
        
    }
}

.ase-actions {
    text-align: center;
}