.ase-section {
    padding:150px 0;
    border-bottom:1px solid @baseContrast;

    &:last-of-type {
        border-bottom:none;
    }

    .aesop-timeline-stop {
        margin-top:0;
    }
}
.ase-welcome {
    text-align: center;
}

.ase-features {
    .ase-features-gallery {

    }
}

.ase-actions {
    text-align: center;
}

.ase-quotes {
    .ase-quote-row {
        margin-bottom:1rem;
        .clearfix;

        .aesop-character-component {
            float: left;
            width:25%;
        }
    }
}