//header
.admin-bar .ase-site-logo-tiny.visible {
    top:36px;
}
.ase-site-logo-tiny {
    position: absolute;
    left:-10000px;

    &.visible {
        position: fixed;
        z-index:10;
        left:2px;
        top:2px;
        max-width:37px;
        .box-shadow(0 0 6px rgba(0,0,0,0.6));
    }
}

.page-template-front-page-php {

    padding-top:@ase-header-height - 32; //height of header

    .ase-header-show,
    .ase-site-header {
        height:@ase-header-height;
    }
}
.ase-header-show,
.ase-site-header {
    height:@ase-header-height / 2;
}

.ase-social-links {
    text-align: center;
    display: block;
    margin-bottom:0.6rem;
    li {
        display: inline-block;
        margin-right:0.6rem;

        &:last-child {
            margin-right:0;
        }

        a {
            color:white;

            &:hover {
                .ase-orange;
            }
        }
    }
}

.ase-primary-nav{

    &.visible {
        position: fixed;
        .opacity(1.0);
        left:0;
        right:0;
        top:0;
        z-index: 9;
        border-top:none;

        a {
            padding:1rem 2rem;
        }

        li.active a {
            font-weight: normal;
        }
    }
}

.admin-bar {
    .ase-primary-nav.visible {
        top:32px;
    }
    .ase-account-login{

        top:30px;

        &.visible {
            top:30px;
        }
    }
}

.ase-site-logo {
    position: relative;
    text-align: center;
    width:200px;
    display: block;
    margin:0 auto 4rem;
}

.admin-bar .ase-site-header{
    top:32px;
}
.ase-site-header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    overflow: hidden; // just needed for overly large gallery
    padding:0 2rem;

    &:before {
        content:'';
        z-index: -1;
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        right:0;
        background:rgba(0,0,0,0.4);
    }

    .ase-site-logo {
        top:0;
        text-align: center;
        z-index:9999;
        margin:0 auto;
        max-width:200px;
        border-right:3px solid white;
        border-bottom:3px solid white;
        border-left:3px solid white;
        .box-shadow(0 0 6px rgba(0,0,0,0.7));

        &.fixed {
            position: relative;
            z-index:9999
        }
    }
    // page /single post header
    .ase-page-title {
        margin:6.2rem auto 0.4rem;
        font-size:4rem;
        letter-spacing: -1.25px;
    }
    .ase-page-title + .ase-sub-title {
        font-size: @font-size-base;
    }
    .ase-page-title,
    .ase-site-sub-title-more,
    .ase-site-title,
    .ase-sub-title {
        color:white;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        text-shadow:0 1px 3px rgba(20, 13, 1, .5);
    }

    .ase-site-title {
        background: url(../img/title.png) no-repeat top center;
        height: 280px;
        margin: 0 auto 2.4rem;
        text-align: left;
        text-indent: -9999px;
        display: inline-block;
        width: 100%;
    }

    .ase-sub-title {
        font-size:2.6rem; //26px
        line-height: 3rem;
        margin-bottom: 2.5rem; //25px
    }

    .ase-site-sub-title-more {
        font-style: italic;
        a {
            color:white;
            font-weight: bold;

            &:hover {
                .ase-orange;
            }
        }
    }

    .ase-header-show {
        margin:0;
        z-index: -2;
        position: absolute;
        top:0;
        left:0;
        right:0;

        div {
            width:100%;
            height:100%;
            position: absolute;
            left:0;
            top:0;
        }
    }

}

.ase-primary-nav {
    position: relative;
    background:black;
    .ase-speckle;
    border-top:3px solid white;
    .clearfix;

    ol,
    ul { //.scroll-nav
        margin:0;
        padding:0;
        list-style: none;
        list-style-type: none;
    }
    .nav-li;

    .scroll-nav {
        width:55%;
        float:left;
        list-style: none;
        padding:0;
        margin:0 auto;
        text-align: center;



        .scroll-nav__wrapper {
            float:right;
        }
    }
    .menu-menu-1-container{
        width:55%;
        float:left;

        .ase-nav-menu {
            float: right;
        }
    }
}

.ase-secondary-nav {
    float:right;
    text-align: left;
    width:45%;

    .nav-li;

    li {

        &:first-child{
            border-left:none;
        }

        &.ase-nav-social a{
            padding:1.8rem;
        }
    }
}

.ase-account-login {
    position: fixed;
    top:10px;
    right:10px;
    z-index: 999;
    border:none;
    box-shadow:none;
    color:white;
    .opacity(0.65);

    &:hover {
        .opacity(1);
        color:white;
    }

    i {
        font-size:1.5rem;
    }
}

.login-modal {
    .modal-content {
        margin-top:25%;
    }
    .modal-body {
        padding: 18px 18px 3px;
    }
    .modal-dialog {
        width:340px;
    }
    // kill the yellow in the inputs
    input:-webkit-autofill {
        color: #999 !important;
        -webkit-box-shadow: 0 0 0px 1000px @input-bg inset;
    }

    span legend {
        text-align: left;
        padding-bottom:10px;
    }

    .edd_submit {
        float: right;

    }
    .edd-lost-password {
        float: left;
        margin: 10px 0 0;

        a {
            //color: fadeout(@ase-text-color,50);

            &:hover {
                //color: @ase-link-color;
            }
        }
    }
    .ase-login-user,
    .ase-login-pass {
        position:relative;

        &:before {
            position: absolute;
            top: 13px;
            left:10px;
            font-size:14px;
            .ase-orange;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        input {
            padding-left:35px;
            .box-sizing(border-box);
        }
    }
    .ase-login-user:before {
        content: "\f007";
    }
    .ase-login-pass:before {
        content: "\f084";
    }
    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        .opacity(.75);
    }

}