//header
.page-template-front-page-php {

    padding-top:@ase-header-height - 32; //height of header

    .ase-header-show,
    .ase-site-header {
        height:@ase-header-height;
    }
}
.ase-header-show,
.ase-site-header {
    height:@ase-header-height / 2;
}

.ase-sticky-nav {
   .opacity(0);
   position: absolute;
   left:-10000px;

    &.visible {
        position: fixed;
        .opacity(1.0);
        left:0;
        right:0;
        top:0;
        z-index: 9;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
        .transition(opacity 0.25s ease-in-out);
    }

    .ase-site-logo {
        margin:0 auto;
        position: relative;
        max-width:200px;
        .box-shadow(0 0 6px -1px rgba(0,0,0,0.5));
        z-index: 1;
        border-right:3px solid white;
        border-bottom:3px solid white;
        border-left:3px solid white;
    }
    .ase-secondary-nav,
    .scroll-nav {
        letter-spacing: -1.25px;
        li {
            border-bottom: 1px solid #a1a099;
            a {
                .ase-sticky-nav-a;
            }
        }
    }
    .ase-sticky-nav-menu {
        background:white;
        position: relative;
        .box-shadow(0 0 6px -1px rgba(0,0,0,0.5));
        .ase-sticky-nav-pad;

        ol,
        ul {
            .unstyled;
            li {
                display: block;
            }
        }

        .ase-secondary-nav {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            width:100%;
            background:white; // only so it covers the first while sliding down
            text-align: center;
            .ase-sticky-nav-pad;

            li {
                display: block;
                margin-right:0;
                float: none;
                a {
                    padding:0;
                }

                &.ase-nav-social {
                    display: inline-block;
                    border-bottom:none;
                    margin-right:6px;

                    &:last-of-type {
                        margin-right:0;
                    }
                }
            }
        }

        .menu-menu-1-container {
            padding-bottom:80px;
            li {
                display: block;
                margin-right:0;
                float: none;
                border-bottom: 1px solid #a1a099;
                a {
                     .ase-sticky-nav-a;
                    padding:0;
                }
            }
        }

        a {
            text-transform: uppercase;
        }
    }
    .ase-sticky-toggle-menu {
        .btn;
        .btn-orange;
        font-size:@font-size-small;
        margin-top:-3px;
    }

    .scroll-nav {
        padding-bottom:80px;
    }
}

.admin-bar .ase-site-header{
    top:32px;
}
.ase-site-header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    overflow: hidden; // just needed for overly large gallery
    padding:0 2rem;

    &:before {
        content:'';
        z-index: -1;
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        right:0;
        background:rgba(0,0,0,0.4);
    }

    .ase-site-logo {
        top:0;
        text-align: center;
        z-index:9999;
        margin:0 auto;
        max-width:200px;
        border-right:3px solid white;
        border-bottom:3px solid white;
        border-left:3px solid white;

        &.fixed {
            position: relative;
            z-index:9999
        }
    }
    // page /single post header
    .ase-page-title {
        margin-top:5rem;
    }
    .ase-page-title + .ase-sub-title {
        font-size: @font-size-base;
    }
    .ase-page-title,
    .ase-site-sub-title-more,
    .ase-site-title,
    .ase-sub-title {
        color:white;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        text-shadow:0 1px 3px rgba(20, 13, 1, .5);
    }

    .ase-site-title {
        background: url(../img/title.png) no-repeat top center;
        height: 280px;
        margin: 0 auto;
        text-align: left;
        text-indent: -9999px;
        display: inline-block;
        width: 100%;
    }

    .ase-sub-title {
        font-size:2.6rem; //26px
        line-height: 3rem;
        margin-bottom: 2.5rem; //25px
    }

    .ase-site-sub-title-more {
        font-style: italic;
    }

    .ase-header-show {
        margin:0;
        z-index: -2;
        position: absolute;
        top:0;
        left:0;
        right:0;

        div {
            width:100%;
            height:100%;
            position: absolute;
            left:0;
            top:0;
        }
    }

}

.ase-primary-nav {
    position: relative;
    background:black;
    .ase-speckle;
    border-top:3px solid white;
    .clearfix;

    ol,
    ul { //.scroll-nav
        margin:0;
        padding:0;
        list-style: none;
        list-style-type: none;
    }
    .nav-li;

    .scroll-nav {
        width:50%;
        float:left;
        list-style: none;
        padding:0;
        margin:0 auto;
        text-align: center;



        .scroll-nav__wrapper {
            float:right;
        }
    }
    .menu-menu-1-container{
        width:50%;
        float:left;

        .ase-nav-menu {
            float: right;
        }
    }
}

.ase-secondary-nav {
    float:right;
    text-align: left;
    width:50%;

    .nav-li;

    li {
        border:none;

        &:nth-child(2),
        &:first-child,
        &:last-child {
            border-left:none;
            border-right:3px solid white;
        }

        &.ase-nav-social a{
            padding:1.8rem;
        }
    }
}