.page-template-template-library-card-php {
    padding-top:250px;
    #main-content {
        padding-top:3rem;
        padding-bottom:0;
    }
    .ase-site-header {
        height:250px;
    }

    .ase-outer-wrap {
        background-color: @brand-primary;
        .ase-light-texture;
        padding:6rem 0;
        margin-bottom:4rem;

        .lead {
            color:white;
        }
    }

    .ase-stacked-title {
        margin-bottom:1rem;
    }

    .ase-stacked-title ~ p {
        max-width:700px;
        margin:0 auto 2rem;
        text-align:center;
        color:lighten(@text-color, 10%);
    }

    .ase-signup {
        margin-bottom:3rem;
    }

    #signup {
        .ase-stacked-title h1{
            margin-top:1rem;
        }
    }
}

.ase-library-card-wrap {
    .edd_download_purchase_form {
        max-width:400px;
        margin: 0 auto;
        position: relative;
        label {
            position:relative;
            padding-left:2.4rem;
            cursor: pointer;
            font-weight:300;
            line-height: 1.75;
            margin-bottom:0;
            .transition(all .15s linear);

            &:hover {
                .scale(1.1,1.1);
            }

        }
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .control-indicator {
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            width:  1.6rem;
            height: 1.6rem;
            line-height: 1rem;
            font-size: 65%;
            color: @link-color;
            border:1px solid @link-color;
            text-align: center;
            background-color: fadeout(white,40);
            background-size: 50% 50%;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border-radius:50%;
            .transition(border .2s linear);
        }
        input:checked ~ .control-indicator {
          color: #fff;
          border:3px solid @link-color;
          background: @link-color;
        }

        input[type="radio"]:checked ~ .control-indicator {
            //background: @brand-warning;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
        }

        .edd-submit {
            .btn-red;
        }
    }
   .edd_price_options {
        ul {
            .unstyled;
            margin-bottom:1rem;
            text-align: center;

            li {
                text-shadow:0 1px 1px rgba(255,255,255,0.5);
                position: relative;
                background:none;
                border:none;
                padding:0;
                font-size: @font-size-small;

                &:nth-child(even) {
                    background:none;
                }
            }
        }
   }

   .ase-reviews {
        padding:4rem 1rem;

        &:last-of-type {
            &:after {
                content:none;
            }
        }
   }
}

.ase-library-card-pricing {
    max-width:@ase-width;
    margin:3rem auto 2rem;
    .clearfix();

    li {
        padding:0.6rem;
        width:31.999%;
        float:left;
        background: white;
       .ase-white-texture;
        border:1px solid gray;
        text-align:center;
        .box-shadow(0 0 6px -1px rgba(0,0,0,0.5));
        margin:0 1%;

        &:first-child {
            margin-left:0;
        }
        &:last-child {
            margin-right:0;
        }

        ul {
            list-style: none;
            padding:0;
            margin:0;
            li {
                border:none;
                border-bottom:1px solid #ddd;
                box-shadow: none;
                background:none;
                display:block;
                width:100%;
                float:none;

                &:nth-child(even){
                    background:darken(white,3);
                }

                &:last-child {
                    border-bottom:none;
                }
            }
        }

        .pricing-top {
            padding:2rem;
            border-bottom:1px solid #ddd;

            .ase-card-plan-name {
                margin:0;

            }
            .ase-card-plan-price {
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: -1px;

                .denom {
                    font-size: 1.6rem;
                    font-weight: 300;
                    position: relative;
                    top:-13px;
                    right:2px;
                }
            }
            .ase-card-plan-sub {
                font-size: @font-size-xsmall;
            }
        }
        .pricing-bottom {
            border-top: 1px solid #ddd;
            padding: 0 1rem;
            box-shadow: inset 0 0 1px #fff; 
        }
    }

    .ase-card-signup {
        border:none;
        margin:1rem auto;
    }

}

.library-card-feature-list {
    margin:0 auto 4rem;
    .clearfix();
    .library-card-feature-item {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding:15px;

        h3 {
            margin-top:0;

            i {
                color:@brand-warning;
                padding-right:4px;
            }
        }

    }
    .ase-library-card-img {
        margin-bottom:1.2rem;
    }
    .ase-library-card-text {
        .ase-white-speckle-box;
        p {
            font-size:1.65rem;
            line-height: 1.9rem;
        }
    }

}

.library-card-pricing {
// global pretty form

}

.library-card-terms {
    color:#555;
    font-size: @font-size-small;
    .ase-content;
    text-align: center;
    margin:3rem auto 0;
    text-shadow:0 1px 1px rgba(255,255,255,0.5);
}

// the library card
.ase-library-card {
    background:@body-bg;
    border:4px solid #121212;
    max-width:550px;

    .box-shadow(0 0 8px -2px rgba(0,0,0,0.75));

    &.center {
        margin-left:auto;
        margin-right:auto;
    }

    .ase-library-card-top {
        padding:1rem;
        border-bottom:4px solid #121212;

        .clearfix();

        h2 {
            margin: 41px 11px 0 0;
            text-align: right;
        }

        img {
            float:left;
            max-width:150px;
        }
    }

    .ase-library-card-bottom,
    .ase-library-card-middle {
        padding:2rem;
    }

    .ase-library-card-middle {
        .clearfix();
        padding-bottom:0;
        img {
            float:left;
            margin-right:10px;
        }
        h6 {
            display: inline-block;
            background:white;
            margin:0;
            line-height:1;
            font-size:2.4rem;
            padding:0.2rem 0.4rem;
            color:@gray;
        }

        ul {
            float: right;
            text-align:right;
            font-size: @font-size-small;

            li {
                color:@gray;
                line-height: 1.2;
            }

            li:first-child {
                .ase-orange;
                font-family: @ase-trend-slab;
                font-size: @font-size-small + 1;
                margin-bottom: 0.4rem;
            }
        }
    }

    .ase-library-card-bottom {
        .clearfix();

        .ase-library-card-bottom-left,
        .ase-library-card-bottom-right {
            float:left;
        }
        .ase-library-card-bottom-left {
            width:40%;

            img {
                max-width:200px;
            }
        }
        .ase-library-card-bottom-right {
            width:60%;
            text-align:right;

            span {
                font-weight:800;
                text-transform: uppercase;
                margin-right:2px;
            }
            p {
                margin:44px 0 0;
                line-height: 1;
            }

            a {
                color:@gray;

                &:hover {
                    color:@link-color;
                }
            }
        }

    }

    .library-card-plan-standard {
        
    }
}

