.os-ios {

}

@media (max-width:1000px) {

    .ase {
        padding-top: 0 !important;
        font-size: @font-size-base - 2;
        .ase-account-login {
            position: absolute;
        }
        .ase-site-logo-tiny.visible {
            position: absolute !important;
            left:-10000px !important;
        }
        .ase-site-header{
            position: static !important;
        }
        // content
        .ase-comments-wrap,
        .ase-entry-content p,
        .ase-content {
            padding-left:1rem;
            padding-right: 1rem;
        }

        // sequence gallery
        .aesop-sequence-img-wrap {
            .aesop-sequence-caption{
                padding-left: 5.5rem;
                &:before {
                    left:1rem;
                }
            }
        }

        &.page .ase-site-header, 
        &.blog .ase-site-header {
            margin-bottom: 3rem;
        }

        &.blog {
            #main-content {
                padding-top:0;
            }
        }
        .ase-site-header .ase-site-title {
            font-size: 3rem;
        }

        .ase-entry-top {
            height:auto;
            .transition(height .35s linear);

            .ase-entry-header {
                bottom:0;
                padding:2rem 1rem;
            }
        }


        //title
        .ase-site-title {
            display: none;
        }
        .ase-sticky-nav,
        .ase-site-header {
            .ase-site-logo {
                max-width:120px;
            }
        }
        .ase-sticky-nav .ase-sticky-nav-menu {
            max-width:120px;
            margin:0 auto;
            padding:0;
        }


        .ase-site-header {
            padding:0 1rem;
            height:auto !important;
            .ase-sub-title {
                font-size: 2rem;
                line-height: 2.2rem;
                margin-bottom: 2.5rem;
                margin-top: 2rem;
            }
        }
    
        //nav 
        .ase-secondary-nav {
            clear:both;
        }
        .ase-nav-menu,
        .ase-secondary-nav,
        .ase-primary-nav .menu-menu-1-container,
        .ase-primary-nav .scroll-nav {
            float:none;
            text-align: center;
            width:100%;

            li {
                float:none;
                display: block;
                border-right:none;
                border-bottom:3px solid white;

                &:first-child {
                    border-left:none;
                }

                a {
                    padding:1rem;
                }
            }

           .scroll-nav__wrapper {
                float:none;
           }
        }
 
        .ase-menu-toggle {
            visibility: visible;
        }

        .ase-primary-nav {
            position: absolute;
            //.opacity(0);

            &.visible {
                .opacity(0);
            }
        }

        // welcome
        .ase-welcome-blurb {
            font-size: 1.6rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        // prouducst
        .ase-product {
            padding-right:0;
        }
        .ase-product-loop {
            padding-bottom:0;
        }
        .ase-library-main,
        .ase-library-sb {
            padding-right:0;
            padding-left:0;
            .ase-comments-wrap {
                margin-top:1rem;
            }
        }

        //image caption
        .aesop-image-component .aesop-component-align-center .aesop-image-component-caption {
            width:96%;
            font-size: 1.4rem;
            line-height: 1.6rem;
        }

        // comp coloumns
        .ase-comp-col {
            margin-bottom:2rem;
        }
        .ase-components {
            .row {
                margin-bottom: 0;
            }

            .btn {
                margin-top:1rem;
            }
        }

        .btn-ase-big-action {
            padding:0.6rem;
            margin:1.5rem auto;
            &:before {
                content:none;
            }

            span {
                line-height: 1;
                padding-left: 0;
            }
            .ase-dl-btn-top {
                font-size:1.45rem;
            }
            .ase-dl-btn-bottom {
                font-size:1.15rem;
            }
        }

        //review
        .ase-reviews .row {
            margin-bottom: 2rem;
        }
        .ase-review-col {
            margin-bottom: 1.6rem;
            img {
                float:none;
                display: block;
                margin:0 auto 2rem;
                text-align: center;
            }
        }

        //newsletter
        .ase-newsletter {
            #mad_mimi_signup_form {
                #webform_submit_button {
                    position:static;
                    width:100%;
                    display:block;
                    margin:1rem auto;
                }
            }
        }

        //footer 
        .ase-site-footer {
            padding:1rem 0;
            p,ul {
                text-align: center;
                position: static;
                display: block;
                float:none;
                width:100%;
                margin-bottom:0.5rem;
            }
            ul {
                text-align: center;
            }
        }
    }
}

@media(max-width:600px){
    .ase {
        #main-content {
            padding-top:1rem;
            padding-bottom:1rem;
        }
        .ase-docs {
            .ase-docs-left,
            .ase-docs-right {
                float:none;
                width:100%;
                padding-left:0;
                padding-right:0;
            }
            .aesop-timeline .scroll-nav.fixed {
                position: static !important;
            }
        }
        .ase-dev-docs-welcome {
            margin-top: 0;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            .col-md-4 {
                padding-left:0;
                padding-right:0;
                margin-bottom: 1rem;
            }
        }
        .ase-site-header .ase-page-title{
            font-size:3rem;
            margin-top:4rem;
        }
        .ase-site-header .ase-sub-title {
            font-size:2.4rem;
        }
    }
}