.ase-single-post {
    margin-top:3rem;
    h1,h2,h3,h4,h5,h6,ul, ol, p {
        max-width:@ase-blog-width;
        margin-left:auto;
        margin-right:auto;
    }
}

// single product
.ase-library-main {
    .ase-product-title:first-of-type {
        margin-top:0;
    }
}

.ase-contact-social {
    a {
        display: inline-block;
        margin-right:10px;
        color:@text-color;

        &:hover {
            color:@link-color;
        }
    }
}

// code blocks
.bwp-syntax-block {
    width:@ase-blog-width;
    margin-left:auto;
    margin-right: auto;
    background:none;
    font-size:14px;
    line-height:18px;
    ol {
        .li1,.li2 {
            background: darken(@body-bg,2);
        }
    }
}