.single {

    padding-top:@ase-header-height; //height of header

    .ase-header-show,
    .ase-site-header {
        height:@ase-header-height;
    }

}

.ase-single-post {
    margin-top:3rem;
    p {
        max-width:@ase-blog-width;
        margin-left:auto;
        margin-right:auto;
    }
}